*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: rgb(246, 245, 244);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 1590px;
    padding: 30px;
    font-weight: 400;
}
.side{
    margin-top: 10px;
}
.side{
    display: flex;
    margin-left: -300px;
}
.butt{
    display: flex;
    justify-content: space-around;
    margin-left: 800px;
    margin-top: 10px;
    gap: 4rem;
}
.butt button{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 13px;
    font-weight: bolder;
}
.log{
    width: 100px;
    border: 2px solid #4faf8b;
    background-color: white;
    color: #4faf8b;
}
.start{
    border: none;
    background-color: #4faf8b;
    color: white;
    width: 160px;
}

.head-infor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
    margin-left: -900px;
    margin-top: 20px;
}
.main-box{
    display: grid;
    place-content: center;
    padding: 200px;
}
.mid-infor{
    display: grid;
    place-content: center;
    grid-template-columns: 6fr 3fr 3fr;
    margin-left: 100px;
    margin-top: -200px;
    padding: 200px;

}
.mid-infor h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 50px;
}
.mid-infor p{
    margin-top: 30px;
}
.boxes{
    display: grid;
    place-content: center;
    padding: 30px;
    grid-template-columns: repeat(3,300px);
    gap: 10rem;
    margin-left: -20px;
}
hr{
    height: 0;
    border: 1px solid #4faf8b;
    margin-top: -60px;
}
.box1{
    display: grid;
    background-color:white;
    width: 400px;
    height: 900px;
    padding: 30px;
    gap: 2rem;
    font-size: 20px;
}
.box2{
    display: grid;
    background-color: white;
    width: 400px;
    height: 900px;
    padding: 30px;
    gap: 2rem;
    font-size: 20px;
}
.box3{
    display: grid;
    background-color: white;
    width: 400px;
    height: 895px;
    padding: 30px;
    gap: 2rem;
    font-size: 20px;
    margin-top: 3px;
}
.prce{
    display: grid;
    grid-template-columns: repeat(3,50px);
}
.dollar{
    display: grid;
    font-size: 40px;
    font-weight: 100;
    margin-top: -20px;
}
.numb{
    display: grid;
    font-size: 60px;
    margin-left: -20px;
    margin-top: -20px;
    font-weight: bolder;
}
.time{
    display: grid;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 100;
}
.boxes2{
    display: grid;
    place-content: center;
    padding: 30px;
    grid-template-columns: repeat(3,300px);
    gap: 10rem;
    margin-left: -20px;
}
.box3 ul{
    display: grid;
    gap: 0;
    margin-top: -70px;
}
ul{
    display: grid;
    gap: 1rem;
    margin-top: -70px;
}
ul p{
    display: flex;
   font-size: 18px;
}
.bill{
    display: grid;
    grid-template-columns: repeat(2,200px);
    flex-direction: row;
    font-size: 15px;
    margin-left: 260px;
    margin-top: -30px;
}
.boxes button{
    display: grid;
    place-content: center;
    border: none;
    background-color: #4faf8b;
    color: white;
    border-radius: 7px;
}
.boxes2 button{
    display: grid;
    place-content: center;
    border: none;
    background-color: #4faf8b;
    color: white;
    border-radius: 7px;
}
.add-ons{
    display: grid;
    place-content: center;
    margin-top: 100px;
    gap: 6rem;
}
.add-ons h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin-left: 100px;
}
.add-ons{
    display: grid;
    place-content: center;
 
}

.collab{
    display: grid;
    background-color: white;
    padding: 30px;
    margin-top: -20px;
    width: 1000px;
    height: 150px;
}
.partners{
    display: grid;
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    width: 1000px;
    height: 150px;
}
.tax{
    display: grid;
    background-color: white;
    padding: 30px;
    margin-top: 40px;
    width: 1000px;
    height: 150px;
}
.price2{
    display: grid;
    margin-left: 880px;
    margin-top: -60px;
    font-size: 17px;
    font-weight: 100;
}
a{
    text-decoration: none;
    color: #4faf8b;
}
.adver{
    display: grid;
    margin-top: 100px;
    place-content: center;
    margin-left: 300px;
    grid-template-columns: repeat(2,400px);
    gap: 10rem;
    width: 800px;
    background-color: rgb(222, 236, 248);
    height: 200px;
}
.green{
    color:#4faf8b
}
.adver h1{
    display: grid;
    place-content: center;
    margin-left: 100px;
    font-size: 20px;
}
.adver button{
    display: grid;
    place-content: center;
    margin-top: 20px;
    margin-left: 100px;
    width: 100px;
    height: 50px;
    background-color: #4faf8b;
    border: none;
    border-radius: 7px;
    color:  white;
    font-weight: bold;
}
.quest{
    display: grid;
    place-content: center;
    margin-top: 100px;
    color: #4faf8b;
}
.all_quest{
    display: grid;
    grid-template-columns: repeat(1,600px);
    grid-template-rows: repeat(4,300px);
    place-content: center;
    justify-content: flex-start;
    margin-top: 50px;
    font-size: 20px;
}
.faq-question {
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
}
.faq-question:hover{
    color: #4faf8b;
}
footer{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4,300px);
    gap: 4rem;
}
footer p{
    margin-top: 40px;
}
@media screen and (max-width:450px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .head{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1000px; 
    }
    .head .side{
        display: flex;
        margin-left: 100px;
    }
    .head-infor{
        display: none;
    }
    header h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 800px;
    }
    .mid-infor h1{
        font-size: 80px;
    }
    .mid-infor{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 900px;
        font-size: 50px;
    }
    header h2{
        display: flex;
        color: black;
        font-size: 100px;
        justify-content: center;
        align-items: center;
        margin-left: 400px;
    }
    .boxes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 1000px;
        width: 1600px;
    }
    .box1{
        width: 1000px;
        margin-left: 200px;
    }
    .box2{
        width: 1000px;
        margin-left: 200px;
    }
    .box3{
        width: 1000px;
        margin-left: 200px;
    }
    .boxes2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 1000px;
        width: 1600px;
    }
    .add-ons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 1200px;
    }
    .partners{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        margin-left: -10px;
    }
    .tax{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        margin-left: -10px;
    }
    .collab{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }
    .adver{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 1500px;
        margin-top: 200px;
    }
    .adver h1{
        display: flex;
        margin-top: 20px;
        margin-left: -300px;
        flex-direction: column;
    }
    .adver button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -200px;
        margin-left: 300px;
    }
    .quest{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 1200px;
        font-size: 40px;
    }
    .quest h1{
        display: flex;
        justify-content: flex-start;
    }
    .all_quest{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 1200px;
        gap: 10rem;
        padding: 10px;
        font-size: 50px;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-left: 1200px;
        font-size: 30px;
        margin-top: 70px;

    }
 

}





















